DB_USERNAME=
DB_HOST=db
JWTSECRET=
SERVERNAME=
SERVER_HOSTNAME=
SERVER_PORT=
NODE_ENV=

POSTGRES_USER=postgres
#POSTGRES_PASSWORD=postgres
POSTGRES_HOST_AUTH_METHOD=trust
POSTGRES_DB=encrypted_events_ts_${NODE_ENV}